@media (max-width: 767px) {
  .sidebar {
    width: 100vw !important;
  }
  .container {
    flex-direction: column;
  }
}

.container {
  display: flex;
  padding: 0;
  margin: 0;
}

.sidebar {
  width: 200px;
  height: auto;
}

.content {
  flex-grow: 1;
  box-sizing: border-box;
  overflow-y: auto;
}
